.track {
    border: 3px solid #231650;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
    margin-right: 16px;
    background-color: #c9ccce;
}

.track-border-stripe {
    border: 4px solid #231650;
    border-radius: 25px;
    padding: 2px;
    margin: 16px;
    width:fit-content;
}

.track-header {
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    color: #231650;
    margin-bottom: 12px;
    text-align: right;
}

.piano-roll-keys {
    background-color: #e0e0e0;
    border-right: 2px solid #444;
    display: "contents";
}

