.track {
    border: 4px solid #B83A14;
    border-radius: 20px;
    padding: 16px;
    margin: 1px;
    background-color: #c9ccce;
}

.track-border-stripe {
    border: 4px solid #231650;
    border-radius: 25px;
    padding: 2px;
    margin: 16px;
    width:fit-content;
}

.track-header {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #231650;
    margin-bottom: 1px;
    margin-right: 16px;
    text-align: left;
}

.piano-roll-keys {
    background-color: #e0e0e0;
    border-right: 2px solid #444;
    display: "contents";
}

.track .MuiFormControl-root {
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
}

.track .MuiInputLabel-root {
    color: #231650;
}

.track .MuiSelect-root {
    border: transparent;
    color: #231650;
    min-width: max-content;
    padding-right: 20px;
    margin-right: 8px;
}